body
{
    background-color:#FFFFFF;
    font-family: Tahoma,"Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
    padding: 0;
    margin: 0;
    text-align: left;
}

.fontSet
{
    font-weight: bold;
    font-size: 0.8em;
    line-height: 1.1em;
}

div.tab_row_1
{
    clear:both;
    min-height: 40px;
}

div.tab_row_2
{
    clear:both;
    min-height: 40px;
}

div.content
{
    width: auto;
    height: auto;
    min-height:400px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    position: absolute;
    left: 240;
    top: 40;
}

ul.tabList
{
    margin: 0;
    padding: 0;
}

ul.tableTabList
{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0;
    width: 240px;
    height: 95%;
    overflow: auto;
    position: fixed;
}

li.tab
{
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    background-color:#F4F4F4;
    position: relative;
    min-width: 100px;
    margin-left: 5px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    border-bottom: 4px solid #CCCCCC;
    float: left;
}

li.tableTab
{
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    background-color:#F4F4F4;
    position: relative;
    margin-left: 5px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    border-bottom: 4px solid #CCCCCC;
}

li.selectedTab
{
    background-color:#EAEAEA;
    border-bottom-color: #286EA0;
}

a.tabLink
{
    display: block;
    width: 90%;
    height: 20px;
    padding: 5px;
    color:#777777;
    text-decoration: none;
}

a.selectedTabLink
{
    color:#286EA0;   
}

a.idLink
{
    color:#777777;
    text-decoration: none;
}

td.cell
{
    height: 20px;
    padding: 5px;
}

td.headingCell
{
    background-color:#EAEAEA;
}

td.normalCell
{
    background-color:#F4F4F4;
}

td.highlightCell
{
    background-color:#969696;
}

label.tableHeading
{
    color:#286EA0;
}

label.tableLabel
{
    font-weight: normal;
}