body
{
    background-color:#F4F4F4;
    font-family: Tahoma,"Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

div.main
{
    background-color:#FFFFFF;
    width: 700px;
    height: 100%;
    margin-left: auto ;
    margin-right: auto ;
    text-align: left;
}

div.tab_row_1
{
    clear:both;
    width: 100%;
    height: 40px;
}

div.tab_row_2
{
    clear:both;
    width: 100%;
    height: 80px;
}

div.content
{
    width: 100%;   
}

ul.tabList
{
    margin: 0;
    padding: 0;
}

li.tab
{
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    background-color:#F4F4F4;
    position: relative;
    min-width: 100px;
    margin-left: 5px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    border-bottom: 4px solid #CCCCCC;
    float: left;
}

a.tabLink
{
    display: block;
    width: 90%;
    height: 20px;
    padding: 5px;
    text-decoration: none;
    color:#777777;
    font-weight: bold;
    font-size: 0.8em;
    line-height: 1.1em;
}